.menu__link {
    color: var(--cinza-300);
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 1.5rem;
}

.menu__link.ativo {
    color: var(--cinza-400);
    font-weight: 700;
}

.menu__link:hover {
    text-decoration: underline;
}